.nayana{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: red;
}
.alia{
    background-color: blue;
}
.rmandanna{
    background-color: yellow;
}
.vijay{
    background-color: pink;
}
.vs{
    background-color: green;
}

#rajni{
    background-color: aqua;
}